@model Prueba2.Models.OrdenPago

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Eliminar Orden</h2>

<h3>¿Seguro de eliminar registro?</h3>
<div>
    <h4>OrdenPago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrdenPagoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrdenPagoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonedaId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonedaPago.NombreMoneda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstadoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstadoPago.NombreEstado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SucursalId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SucursalPago.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaPago)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Regresar a Lista</a>
    </form>
</div>
